chromadb>=0.4.0,<0.6.0
langchain-chroma>=0.2.0

langchain
langchain_community
langchain_openai
langchain-anthropic
langchain-text-splitters
langchain-chroma
pysqlite3-binary
langchain-ollama
langchain-experimental

anthropic
openai

nltk==3.8.1
pypdfium2
pypdf
rapidocr-onnxruntime
sentence-transformers
unstructured
unstructured[pdf]

python-pptx
faiss-cpu
grandalf 
streamlit
